*{

}
html{
  overflow-x: hidden;
}
body, a:hover {cursor: url(http://cur.cursors-4u.net/cursors/cur-7/cur610.cur), progress !important;}

  }
}
@media (max-width: 992px) {
  body
  {
    background:red;
  }
  .opaque-cbar {
    background-color: black;
    height: 60px;
    transition: background-color .5s ease 0s;
  }

}
@media screen and (max-width: 915px) {
  #accordion-tab {
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }
  label {
    font-size: 15px;
    padding: 1.5em 1.2em 1em;
  }
}
